/*Estilos productos seleccionados y no selecionados*/
#productosElegidos{
  color:green;
  width: 40%;
  /*float: left;*/
  display: inline-block;
  text-align: center;
  /*position: relative;*/
  top: 50px;
  left: 15%;
  bottom: 50px;

}

#productosNoElegidos{
  color:red;
  width: 40%;
  /*float: right;*/
  text-align: center;

  /*position: relative;*/
  top: 50px;
  /*right: 15%;**/
}


table{
  width: 5%;
  text-align: center;
  margin-top: 0px!;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
